<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row" style="border-style: solid">
        <div class="col" >
            <div class = "list-item">
                <img src= "{{.ArticleDetail.CoverURL}}" style="float: left;width: 120px;height: 150px;padding-right: 2px">
                <ul>
                    <li style="font-size: 20px">{{.ArticleDetail.Title}}</li>
                    <li style="height: 20px">作者：{{.ArticleDetail.Author}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="border-style: solid">
        <div class="col" >
            <h1>描述</h1>
            <div class = "list-item">
                <p>{{.ArticleDetail.Description}}</p>
            </div>
        </div>
    </div>


    <div class="row" style="border-style: solid">
            <h1>章节</h1>
                {{ range $key,$val := .ArticleDetail.Chapters }}
                <div class="col">
<!--                    <a href="/article/{{.ArticleID}}/chapter/{{$val.ID}}">{{$val.Title}}</a>-->
                    <a href="/chapter/{{$val.ID}}">{{$val.Title}}</a>
                </div>
                {{end}}
    </div>


</div>
</body>
</html>